/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
body {

	font-family: 'Montserrat', sans-serif;
}
nav {
	background-color: #274648;
	color: white;

}

.aboutme {
	background-color: #274648;
}

.landing {
	background-color: #274648;

}
h3 {
	color: #edc57f;
}

h2, h1 {

	color: #edc57f;
}
h2 .title-contact {

	color: #edc57f;
}

h5 {
	color: #accbcd;
}
h6 {
	color: #edc57f;
}

.btn {
 	background-color: #edc57f;
 }

.btn:hover {
  box-shadow: 0px 3px 3px rgb(1.00,0.88,0.30)!important;
  transform: translateY(-5px)!important;
}
a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}
a.nav-link:hover {
	box-shadow: 0px 3px 3px rgb(1.00,0.88,0.30);
  transform: translateY(-5px);
  border-radius: 30%;
  border: 0px;
  display: inline-block;

}
a.start:hover {
	box-shadow: 0px 10px 10px rgb(1.00,0.88,0.30);
  transform: translateY(-5px);
  border-radius: 50%;
  border: 0px;

}
.footer {
	background-color: #274648;
}


#naenaens:hover {
	box-shadow: 0px 3px 3px rgb(1.00,0.88,0.30);
  transform: translateY(-5px);
  border-radius: 50px;
}

.carousel {
		background-color: #274648;
}

h2 ~ .carouseltitle {
	color: #274648;
}


.projects {
		background-color: #274648;	
}


.card {
	background-color: transparent;
	border: none;


}
.card-title {
	color: #edc57f;
}
.form {
	background-color: #274648;	

}
.form-proper {
	background-color: #274648;
}
.contact-map {

	background-color: #274648;
	margin: auto;
 
}
.arrow-down {
	height: 100px;
	width: 50px;
}
.iframe-map {
	width: 300px;
	height: 300px;
	border-style: none;
}
